<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>key</key>
            <string>aKey</string>
            <key>name</key>
            <string>aName</string>
            <key>value</key>
            <true/>
        </dict>
        <dict>
            <key>key</key>
            <string>bKey</string>
            <key>name</key>
            <string>bName</string>
            <key>value</key>
            <false/>
        </dict>
        <dict><!-- missing key -->
            <key>name</key>
            <string>name</string>
            <key>value</key>
            <false/>
        </dict>
        <dict><!-- missing name -->
            <key>key</key>
            <string>key</string>
            <key>value</key>
            <false/>
        </dict>
        <dict><!-- missing value -->
            <key>key</key>
            <string>key</string>
            <key>name</key>
            <string>name</string>
        </dict>
</array>
</plist>
